{% extends 'base.html' %}


{%block head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



{%endblock%}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<body>
    <div class="chart" id="bargraph">
        <script>
            var graphs = {{plo_ | safe}};
            Plotly.plot('bargraph',graphs,{});
        </script>
       </div>

     

    </body>


   
{% endblock %}
{%block footer%}


    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a style="color: Black" class="nav-link" href="{{ url_for('VisualsePerformanceCatFreq')}}">Overall Performance Frequencies by Category</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
        <a style="color: Black" class="nav-link" href="{{ url_for('plot_performanceComparison')}}">Performance Comparison of Cities</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a style="color: Black" class="nav-link" href="{{ url_for('VisulisePerformancesCatgory')}}">Performance Category Frequency of Cities</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a style="color: Black" class="nav-link" href="{{ url_for('performanceDateData')}}"> Performance Frequency Time Analysis of Cities </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a style="color: Black" class="nav-link" href="{{ url_for('PerformanceMap')}}"> Performance Map </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <a style="color: Black" class="nav-link" href="{{ url_for('performanceHist')}}"> Performance Histogram </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
    </nav>
{%endblock%}
