{% extends 'ScheduleVizHomePage.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form method="POST" action="/ScheduleMap" >

        <select name="city" class=="selectpicker form-control">
            <option value="" disabled selected>Select City</option>
            <option value="None"> All</option>
          {% for o in cityList %}
          <option value="{{ o }}">{{ o }}</option>
          {% endfor %}
        </select>
<input type='submit' value='Filter'>
        </form>
    </head>
    <body>
        <div class="chart" id="bargraph">
            <script>
                var graphs = {{plot_ | safe}};
                Plotly.plot('bargraph',graphs,{});
            </script>
           </div>
           </body>
    
    
    {%endblock%}

    